.pa-main{
    margin-top: 75px;
    color: white;
}

.pa-h1{
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
    text-decoration: underline;
}

.pa-p1{
    text-align: center;
    font-size: 25px;
}

.pa-crear-reserva{
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: grey;
    background-color: #2b2323;
    width: 80%;
    max-width: 900px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.pa-crear-reserva:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.pa-h2{
    margin-left: 30px;
    padding-top: 10px;
    color: #f8ce70;
    font-size: 25px;
    
}

.pa-form{
    padding-left: 30px;
    margin-left: 0;
}

.pa-form-tipo{
    margin-top: 10px;
}
.pa-form-tipo select {
    margin-left: 10px;
    border-radius: 6px;
    border: 1px solid #f8ce70;
    background-color: #726963;
    color: white;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); 
    transition: box-shadow 0.3s ease; 
}

.pa-input-dia-llegada{
    margin-left: 23px;
    border-radius: 6px;
    border: 1px solid #f8ce70;
    background-color: #726963;
    color: white;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); 
    transition: box-shadow 0.3s ease; 
}
.pa-form-hora-llegada,
.pa-form-dia-llegada,
.pa-form-numero-vuelo,
.pa-form-aeropuerto-origen,
.pa-form-hotel-destino,
.pa-form-numero-viajeros,
.pa-form-email{
    margin-top: 20px;
}
.pa-form-email{
    margin-bottom: 20px;
}

.pa-input-hora-llegada{
    margin-left: 13px;
    border-radius: 6px;
    border: 1px solid #f8ce70;
    background-color: #726963;
    color: white;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); 
    transition: box-shadow 0.3s ease; 
}



.pa-input-numero-vuelo{
    margin-left: 10px;
    width: 20%;            
    max-width: 60px;       
    height: 5px;          
    padding: 10px;          
    font-size: 1rem;
    border-radius: 6px;
    border: 1px solid #f8ce70;
    background-color: #726963;
    color: white;
    cursor: text;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); 
    transition: box-shadow 0.3s ease; 
}



.pa-input-aeropuerto-origen{
    margin-left: 10px;
    width: 50%;            
    max-width: 200px;       
    height: 5px;          
    padding: 10px;          
    font-size: 1rem;
    border-radius: 6px;
    border: 1px solid #f8ce70;
    background-color: #726963;
    color: white;
    cursor: text;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); 
    transition: box-shadow 0.3s ease; 
}



.pa-input-hotel-destino{
    margin-left: 10px;
    width: 50%;            
    max-width: 200px;       
    height: 5px;          
    padding: 10px;          
    font-size: 1rem;
    border-radius: 6px;
    border: 1px solid #f8ce70;
    background-color: #726963;
    color: white;
    cursor: text;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); 
    transition: box-shadow 0.3s ease; 
}

.pa-select-numero-viajeros{
    margin-left: 10px;
    width: 50%;            
    max-width: 200px;        
    padding: 3px;          
    font-size: 0.9rem;
    border-radius: 6px;
    border: 1px solid #f8ce70;
    background-color: #726963;
    color: white;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); 
    transition: box-shadow 0.3s ease; 
}

.pa-input-email{
    margin-left: 10px;
    width: 50%;            
    max-width: 200px;        
    padding: 1px;   
    height: 7px;       
    font-size: 0.9rem;
    border-radius: 6px;
    border: 1px solid #f8ce70;
    background-color: #726963;
    color: white;
    cursor: text;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); 
    transition: box-shadow 0.3s ease;
}

.pa-aeropuerto-hotel-submit{
    margin-left: 300px;
    margin-bottom: 20px;
}
.pa-aeropuerto-hotel-button{
    background-color: #f8ce70 !important; 
    color: #221a1a !important  ;                    
    border: none !important  ;
    border-radius: 6px !important  ;
    padding: 10px 20px !important  ;
    font-size: 1rem !important  ;
    font-weight: bold !important  ;
    cursor: pointer !important  ;
    margin-top: 20px !important  ;
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4) !important  ;
    transition: background-color 0.3s ease, transform 0.2s ease !important  ;
}

.pa-aeropuerto-hotel-button hover {
    background-color: #ffe191 !important  ;        
    transform: scale(1.03) !important  ;            
}

