/* Reset de estilos */
body, h1, h2, h3, p, ul, li, form {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    font-family: Arial, sans-serif; 
    line-height: 1.6;
    color: #333;
    background-color: #221a1a;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}


header {
    background-color: transparent;
    padding: 10px 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

header a {
    text-decoration: none;
    color: inherit;
    padding: 30px 50px; 
    font-size: 1.2em;
}

header h1 {
    margin: 0;
    font-size: 1.5em;
}

header nav {
    display: flex; 
    justify-content: center; 
}

header nav a {
    margin: 0 15px;
}

header nav a:hover {
    background-color: #333333; 
}


.hero {
    background-image: url('assets/imagenes/barcelona.jpg'); 
    background-size: cover;
    background-position: center;
    height: 100vh; 
    position: relative;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    text-align: center; 
}

.hero h1 {
    font-size: 3rem; 
    text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

.hero p {
    font-size: 1.5rem; 
}
/* Sección Servicios */
.services {
    padding: 50px 0;
    background-color: #161111;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 30px; 
}

.services h2 {
    font-size: 4em;
    text-align: center;
    font-weight: bold;
    width: 100%;
    margin-bottom: 30px;
}

.service {
    width: 400px;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service:hover {
    transform: translateY(-5px);
}

.service img {
    max-width: 100%; 
    max-height: 400px; 
    margin-bottom: 15px;
    border-radius: 5px;
  }
  

.service h3 {
    font-size: 1.5em;
    color: #ddd;
    margin-bottom: 10px;
    text-align: center; 
}

.service p {
    color: #ccc;
    text-align: center;
}


.ventajas {
    padding: 50px 0;
    background-color: #555; 
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px; 
}

.ventajas h2 {
    font-size: 4em;
    text-align: center;
    font-weight: bold;
    width: 75%; 
    margin-bottom: 30px;

}

.ventaja {
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center; 
}


.ventaja img {
    max-width: 50px; 

}


.ventaja h3 {
    font-size: 1.5em;
    color: #ffffff;
    margin-bottom: 10px;
    text-align: center;
    display: flex;
}

.ventaja p {
    color: #ffffff;
    text-align: center; 
}



.contact {
    padding: 50px 0; 
    background-color: #161111; 
    color: white;
}

.contact h2{
    font-size: 4em;
    text-align: center;
    font-weight: bold;
    width: 100%; 
    margin-bottom: 30px;
}

.contact p{
    margin-left: 30px;
}

form {
    width: 80%;
    max-width: 600px;
    margin: auto;
    color: #ffffff;
}

input[type="text"],
input[type="email"],
textarea {
    width: calc(100% - 20px);
    padding: 10px;
}

button[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
}


.perfil {
    padding: 50px 0;
    background-color: #555; 
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 30px;
}

.perfil h2 {
    font-size: 4em;
    text-align: center;
    font-weight: bold;
    width: 75%; 
    margin-bottom: 30px;

}